# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Database
*.db
boutique.db

# Uploads
backend/uploads/

# Node
node_modules/
dist/
build/
.npm/

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
