# Database Connection String (e.g., from Neon.tech or Supabase)
DATABASE_URL=postgresql://neondb_owner:npg_O5Dyi1IlRUAb@ep-green-fog-am3rvp3j-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=ddxeytaca
CLOUDINARY_API_KEY=484585622275492
CLOUDINARY_API_SECRET=LPf8ljkagR8VdhIhitS21sFPMZ8

# SMTP Email Configuration (For Order Notifications)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_16_char_app_password
SENDER_EMAIL=your_email@gmail.com
